
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

.container {
  width: 1100px;
  padding-left: 30px;
  padding-right: 30px;
  margin: auto;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  .container {
    max-width: 98%;
  }
}
@media (max-width: 575px) { 
  .container {
    max-width: 96%;
  }
}
 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .container {
    max-width: 750px;
  }
 }
 /* desktops */
@media (min-width: 992px) { 
  .container {
    max-width: 980px;
  } 
 }

@media (min-width: 1200px) { 
  .container {
    max-width: 1100px;
  } 
 }

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {background: #E5E5E5;}

/* Header */
.header {
  background-image: url('https://via.placeholder.com/150/888/808080');
  height: 600px;
  padding-top: 14px;
}

.header .logo {
  margin-left: -40px;
}


.header .list {
  margin-bottom: 50px;
}
.header .list span {
  color: #eee;
  margin-left: 10px;
  margin-right: 10px;
}

.header .list > a {
  text-decoration: none;
  color: #eee;
  font-size: 15px;
}

.header .list a:hover {
  text-decoration: underline;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-nav {
  position: fixed;
  right: 0px;
  top: 44px;
  cursor: pointer;
  height: 66px;
  width: 110px;
  border: none;
  padding: 20px;
  padding-left: 40px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}
.btn-nav span{
  display: block;
  width: 30px;
  height: 3px;
  margin-bottom: 10px;
  background-color: rgb(58, 110, 207);
  transition: .5s all;
  border-radius: 30%;
}
.btn-nav span:first-child{
  height: 4px;
}
.btn-nav span:last-child{
  width: 40%;
  margin-left: 10px;
}
.btn-nav:hover span:last-child{ 
  width: 30px;
  margin-left: 0;
}
/*  */

.header .div-retail {
  color: #eee;
  width: 500px;
  margin-bottom: 40px;
}

.header .div-retail h2 {
  font-size: 30px;
  font-weight: 400;
}

.header .div-retail p {
  line-height: 2;
  font-size: 15px;
}

.btn-solution {
  color: #eee;
  background-color: transparent;
  padding: 13px 24px ;
  border: #eee 1px solid;
  border-radius: 30px;
  cursor: pointer;
  transition: .3s all;
}
.btn-solution:hover{
  background: #eee;
  color: #000;
  border: #eee 1px solid;
}

.header-b {
  background: linear-gradient(116.47deg, #0F00E2 -5.53%, #00EDED 126.82%);
  width: 100%;
  height: 160px;
  padding-top: 20px;
  display: flex;
  align-items: center;
}

.p-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-element button{
  padding: 5px 14px;
  cursor: pointer;
  transition: .5s all;
  border: #3c378b  1px solid;
  border-radius: 50%;
  background: #fff;
  color: #3c378b ;
  font-size: 17px;
  margin-left: 4px;
  font-weight: 600;
}
.flex-element button:hover {
  background-color: #82a0cc;
  color: #fff;
}

.header-b .flex-element {
  display: flex;
  justify-content: space-between;
  color: #eee;
}
/* Start Section */
section {
  padding-top: 120px;
}
section .flex-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 60px;
  margin-bottom: 40px;
}

section .flex-section .side-img{
  height: 350px;
  width: 400px;
  display: flex;
  justify-content: flex-end;
}

section .flex-section .side-img2 {
justify-content: flex-start !important;
}

section .flex-section .side-content2 p {
  width: 100%;
}
section .flex-section .side-content2 h3 {
  width: 75%;
}
section .flex-section img{
  border-radius: 10px;
  height: 80%;
  width: 80%;
}

section .flex-section .side-content{
  width: 60%;
}

.side-content h5 {
  color:#0F00E2;
  letter-spacing: 2px;
}
.side-content h3 {
  font-size: 38px;
  color: rgb(51, 51, 51);
  width: 80%;
  margin-bottom: 10px;
  font-weight: 500;
}
.side-content p {
  width: 88%;
  font-size: 15px;
  color: #525252;
  font-weight: 300;
}

/* start Produt  */
.product-section {
  padding-top: 30px;
  text-align: center;
}

.product-section h3 {
  color: #4e44df;
  font-size: 20px;
}
.product-section h6 {
  font-size: 28px;
  font-weight: 400;
  color: #222;
  letter-spacing: 1px;
  padding-bottom: 40px;
}
.flex-product {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-product .card {
  display: flex;
  flex-direction: column;
  width: calc(94% / 3);
  border-radius: 9px;
  padding: 2px;
  background-color: #fff;
  box-shadow: #c9c9c9 0px 2px 2px 0px;
  margin-bottom: 20px;
}
.flex-product .card img {
  width: 100%;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  height: 140px;
}

.flex-product .card > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 15px
}
.flex-product .card span {
  border: #3c378b  1px solid;
  border-radius: 50%;
  padding: 2px 10px;
}
.product-section .buttons {
  width: 10%;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
}

.product-section .buttons button{
  padding: 5px 14px;
  cursor: pointer;
  transition: .5s all;
  border: #3c378b  1px solid;
  border-radius: 50%;
  background: #fff;
  color: #3c378b ;
  font-size: 17px;
  font-weight: 600;
}
.product-section .buttons button:hover {
  background-color: #82a0cc;
  color: #fff;
}
.product-section .buttons button:first-child {
  transform: rotate(180deg);
}

/* End Proudct  */
/* Start Our Work */
.our-works {
  padding-top: 60px;
}

.our-works .header-work {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.our-works .header-work h5 {
  font-size: 16px;
  color: #3c378b;
  line-height: 1.6;
}

.our-works .header-work h3 {
  font-weight: 400;
  font-size: 44px;
  margin-bottom: 30px;
}

.our-works .header-work button {
  background: linear-gradient(116.47deg, #0F00E2 -5.53%, #00EDED 126.82%);
  border-radius: 40px;
  border: none;
  color: #fff;
  padding: 10px 18px;
  cursor: pointer;
}
.our-works .flex-work {
  display: flex;
  justify-content: space-between;
  align-items: center;
} 

.our-works .flex-work .card {
  width: calc(97% / 3);
  background-color: #fff;
  padding: 3px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  margin-bottom: 30px;
}
.our-works .flex-work .card > div{
  padding: 5px 12px;
}
.our-works .flex-work .card img {
  width: 100%;
  height: 220px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}

.our-works .card .p-work {
  font-size: 17px;
  color: #000;
  font-weight: 500;
}
.card .p-work2 {
  font-size: 15px;
  color: rgb(65, 65, 65);
  padding-left: 10px;
}

.our-works .buttons {
  width: 10%;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
}

.our-works  .buttons button{
  padding: 5px 14px;
  cursor: pointer;
  transition: .5s all;
  border: #3c378b  1px solid;
  border-radius: 50%;
  background: #fff;
  color: #3c378b ;
  font-size: 17px;
  font-weight: 600;
}
.our-works  .buttons button:hover {
  background-color: #82a0cc;
  color: #fff;
}
.our-works  .buttons button:first-child {
  transform: rotate(180deg);
}

/* Media Query */

@media screen and (max-width: 992px) {
  .header-b .flex-element {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .p-flex {
    margin-top: 20px;
  }
  section .flex-section {
    flex-direction: column;
    justify-content: center;
  }
  section .flex-section .side-img{
    order: 1;
    justify-content: center;
    margin-bottom: -20px;
  }
  section .flex-section .side-img2 {
    justify-content: center !important; 
  }

  section .flex-section .side-content{
    order: 2;
    width: 102%;
  }
  section .flex-section .side-content h3 {
    font-size: 28px;
    width: 105%;
  }

  section .flex-section .side-content p {
    width: 100%;
  }
  /*  */
  section .flex-section .side-img {
    height: 490px;
    width: 640px;
  }
  .buttons {
    width: 15% !important;
  }
}


@media screen and (max-width: 768px) {
  .header {
    height: 660px;
  }
  .header .div-retail p {
    width: 300px;
  }
  .header-b {
    display: none;
  }
  section .flex-section {
    flex-direction: column;
    justify-content: center;
  }
  /*  */
  section .flex-section .side-img{
    order: 1;
    justify-content: center;
    margin-bottom: -20px;
    height: 350px;
    width: 400px;
  }
  section .flex-section .side-img2 {
    justify-content: center !important; 
  }

  section .flex-section .side-content{
    order: 2;
    width: 102%;
  }
  section .flex-section .side-content h3 {
    font-size: 28px;
    width: 103%;
  }

  section .flex-section .side-content p {
    width: 100%;
  }
  /*  */
  .product-section h3 {
    text-align: left;
    font-size: 17px;
  }
  .product-section h6 {
    font-size: 20px;
    text-align: left;
  }
  .flex-product {
    flex-direction: column;
  }
  .flex-product .card {
    width: 100%;
  }
  .product-section .buttons {
    display: none;
  }
  /*  */
  section .flex-section:last-child {
    margin-bottom: 0;
    padding-bottom: 20px;
  }
  .our-works .header-work h3 {
    font-size: 23px;
    width: 90%;
  }
  .our-works .header-work button {
    padding: 9px 14px;
    font-size: 10px;
    width: 80px;
  }
  .flex-work .card:first-child {
    display: block;
    width: 100%;
  }
  .flex-work .card {
    display: none;
  }
  .our-works .buttons  {display: none;}
  
  .bullets {
    width: 100%;
    margin: auto;
    text-align: center;
  }
  .bullets span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #aaa;
    margin-left: 5px
  }
  .bullets .active {
    background-color: #0F00E2;
  }
}
